:root {
  --primary-text: #f4dbaa;
  --primary-bg: #002c30;
}

html * {
  color: var(--primary-text) !important;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

html * :not(.form):not(.form-label) {
  background-color: var(--primary-bg) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-secondary {
  color: var(--primary-text) !important;
}

.bg-primary {
  background-color: var(--primary-bg) !important;
}

.bg-secondary {
  background-color: var(--primary-bg) !important;
}

.row {
  justify-content: center;
}

.star-dark.mb-5 {
  border-color: var(--primary-text);
}

.btn {
  border-color: var(--primary-text);
  background-color: var(--primary-bg);
}

.form-floating {
  border-bottom: 1px solid var(--primary-text);
}

.form-label {
  background-color: transparent !important;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
}

